extends layout

block content
  div(id="chart_title") Stocks
  div(id="chart")
  div(id="chart_caption") Stocks
  div(id="stock_list" class="row")
    div(class="col-md-4" id="add_new")
        
    div(class="col-md-4")
        span(class="close") x
        div(class="stock_name") GOOG
    div(class="col-md-4")
        div(class="stock_name") AAPL
    div(class="col-md-4")
        div(class="stock_name") MSFT
    div(class="col-md-4")
        div(class="stock_name") HPQ