html {
    height: 100%;
}

body {
    background-image: radial-gradient(ellipse at center, rgba(0,0,0,1) 0%, rgba(70,70,70,1) 100%);
    color: rgb(222, 222, 222);
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

header {
    font-size: 24px;
    margin-bottom: 1em;
}

header i {
    animation-direction: alternate;
    animation-duration: 10s;
    animation-name: rgbhues;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-right: 10px;
}

main {
    border: 2px solid white;
    border-radius: 10px;
    background-color: hsl(0, 0%, 95%);
    color: black;
    margin: auto;
}

@keyframes rgbhues {
    0% {
        color: hsl(0, 80%, 80%);
    }
    50% {
        color: hsl(120, 80%, 80%);
    }
    100% {
        color: hsl(240, 80%, 80%);
    }
}

#add_new {
    align-items: center;   
    background-color: rgba(0, 100, 0, .1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#add_new * {
    border-radius: 4px;
}

#add_new button {
    background-color: hsl(120, 50%, 95%);
    border-color: hsl(120, 50%, 95%);
    color: black;
    margin-top: 10px;
}

#button_draw {
    background-color: hsl(60, 50%, 95%);
    border-color: hsl(60, 50%, 95%);
}

#button_fetch {
    background-color: hsl(180, 50%, 95%);
    border-color: hsl(180, 50%, 95%);
}



#chart {
    border: 1px dashed rgba(0,0,0,0.2);
    display: block; /* Useful if the container is an SVG instead of a DIV */
    margin-bottom: 20px;
    min-height: 300px;
    width: 100%; /* Useful if container is an SVG instead of a DIV */
}

#chart_caption {
    margin-bottom: 8px;
}

#chart_caption button {
    border-radius: 4px;
    margin-left: 10px;
}

#chart_title {
    font-size: 2.5rem;
    text-align:center;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.5);
    text-transform: uppercase;
    letter-spacing: 10px;
}


#stock_list > div {
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
    margin-left: 15px;
    margin-bottom: 15px;
    max-width: 285px;
    min-height: 120px;
    transition: all 300ms ease-in-out;
}

#stock_list > div:hover {
    box-shadow: 0px 0px 2px 1px black;
}

#stock_list .close {
    margin-right:-10px;
}

.data_pending:after {
  content: "\f017"; 
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  font-size: 100px;
  color: hsla(50,50%,50%,.2);
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
  z-index: 1;
}

.data_ready:after {
  content: "\f05d"; 
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  font-size: 100px;
  color: hsla(100,50%,50%,.2);
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
  z-index: 1;
}

.data_unavailable:after {
  content: "\f05c"; 
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  font-size: 100px;
  color: hsla(0,50%,50%,.2);
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
  z-index: 1;
}

.stock_name {
    font-family: 'Space Mono', monospace;
    font-size: 24px;
}