body {
    background-color: black;
    color: rgb(222, 222, 222);
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

main {
    border: 2px solid white;
    margin: auto;
}
